/* Reset to zero */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styled logo image in nav-bar */
.navbar img {
    height: 2rem; /* Limit size of logo image */
}

#hero-image {
    background-image: url(../images/jrrtolkien.jpg);
    background-size: cover;
    background-repeat: no repeat;
    height: 70vh;
}