/* Reset to zero */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styled logo image in nav-bar */
.navbar img {
    height: 2rem; /* Limit size of logo image */
}

/* Hero-image for main in index.html small devices */
#hero-image {
    background-image: url(../images/jrrtolkien.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

/* Hero-image for main in index html to fill width for larger devices */
@media only screen and (min-width: 500px) {
    #hero-image {
        height: 67vh; 
    }
}